.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  color: #a1a1a8;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid var(--background);
  border-radius: .25rem; 
  padding: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  border-radius: 0.4rem;
  border: 0 !important;    
  background-color: #fff;
}

.cardTitle {
  color: #000;
  font-size: 2.3rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardBody {
  position: relative !important;
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  position: relative;
}

.friendOverlay {
  position: absolute;
  top: -110px;
  right: 173px;
  width: 340px;
  height: auto;
  background-color: #fff;
  color: #000;
  border-radius: 0.5rem;
  padding: 1rem;
  visibility: hidden;
  z-index: 1; 
  opacity: 0;
  transform: translate(50%, -10px);
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.col:hover .friendOverlay {
  position: absolute;
  opacity: 1;
  visibility: visible;
}

.friendAvatar {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}

.friendDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendInfo {
  margin-left: 1rem;
  width: 100%;
}

.friendInfoMutual {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.friendInfoMutual i{
  width: 6%;
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;
}

.friendInfoMutualNum {
  margin: 0;
}

.friendButton {
  background-color: #1877f2;
  border: none;
  color: white;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.friendButton:hover {
  filter: brightness(0.8); 
}

.image {
  border-radius: 0.4rem;
  width: 100%; 
  height: 80%; 
  object-fit: cover;  
  vertical-align: middle;  
  min-height: 126px;
}

.name {
  margin-top: 0.5rem;
  text-align: center;
}

.button {
  cursor: pointer;
  color: #0f6fec;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .2rem;
  text-decoration: underline;
}

.button:hover {
  color: #000; 
  background-color: transparent;
}

.friendButtonFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.friendButtonFlex button{
  width: 48%;
}

.friendInfoName {
  margin-top: 1rem;
  margin-bottom: 1rem;
}