.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: .7rem;
  font-weight: 500 !important;
  border-radius: .4rem;
  font-size: .875em;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0.25rem 0rem;
  justify-content: center;
}

.nav:hover {
  color: #0c59bd;
}

.navItem {
  margin-right: 0.5rem;
  border-radius: .4rem;


  &:last-child {
    margin-right: 0;
  }
}

.navLink {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: .4rem;
  padding: 1.25rem 46rem;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  color: #a1a1a8;
  svg {
    display: block;
    padding-right: 0.5rem;
    height: 20px;
    width: 20px;
    color: rgba(12, 188, 135, 1) !important;
    vertical-align: middle;
  }
}

.navLink:hover {
  color: #000;
  background-color: #e6e6ed;
  svg {
    color: rgb(0, 210, 147) !important;
  }
}

.dropstart {
  margin-left: auto;
}
