.sidebar {
    margin-top: 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%; // Sidebar chiếm 25% chiều rộng
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 0;
  
    .backRow {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
    }
  
    .icon {
      font-size: 24px;
    }
  
    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .adminInfo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .adminName {
        font-weight: bold;
        font-size: 16px;
      }
  
      .adminRole {
        font-size: 12px;
        color: #666;
      }
    }
  
    .input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  
    .privacyRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      background-color: #fff;
    }
  
    .privacyOptions {
      margin-top: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
  
      .privacyOption {
        padding: 10px;
        cursor: pointer;
        background-color: #f4f4f4;
  
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  
    .createButton {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
    }
  }
  