.container {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem* .5);
  padding-left: calc(1.5rem* .5);
  margin-top: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #a1a1a8;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid var(--background);
  border-radius: 0.25rem; 
  box-shadow: 0px 0px 24px rgba(0, 0, 0, .04); 
  margin-bottom: 0.5rem;
  padding: 1.25rem;
  margin: .75rem;
}

.cardHeader {
  border-radius: calc(0.4rem - 1px) calc(0.4rem - 1px) 0 0;
  border: 0 !important;    
  padding: 0.75rem 1.25rem;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #fff;
}

.cardTitle {
    color: #000;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 0;
    font-family: Inter, sans-serif;
}

.cardBody {
  position: relative !important;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;

  li {
    margin-bottom: 0.5rem;

    svg {
      padding-right: .25rem !important;
      vertical-align: middle;
      height: 18px;
      width: 18px;
    }
  }
}

.cardBodyPTop0 {
  margin-top: 0;
}

.listItem {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}