.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  color: #a1a1a8;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid var(--background);
  border-radius: 0.25rem; 
  padding: 1rem;
}

.cardHeader {
  border-radius: 0.4rem;
  border: 0 !important;    
  background-color: #fff;
}

.cardTitle {
    color: #000;
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.marGinLeft {
  margin-left: 0.25rem;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;

  li {
    margin-bottom: 0.5rem;

    svg {
      padding-right: .25rem !important;
      vertical-align: middle;
      height: 18px;
      width: 18px;
    }
  }
}


.listItem {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}