.cardFooter {
  padding-bottom: 0 !important;
  padding-top: .5rem !important;
  margin-top: 1rem !important;
  padding: 1.25rem 1.25rem; 
  color: #212529; 
  background-color: #fff; 
  border-top: 1px solid var(--background); 

}

.navBottomLine {
  display: flex;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
  align-items: center;
  border: 0;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navItem {
  list-style: none;
  margin-bottom: -2px;
}

.navLink.active{
  color: #0f6fec; 
  border-bottom: 3px solid #0f6fec;
}

.navLink {
  padding-left: 0;
  background: transparent;
  border-bottom: 3px solid transparent;
  color: #a1a1a8;
  border: transparent;
  font-weight: 600;
  padding: .75rem 11rem;
  display: block;
}

.badgeSuccess {
  background-color: rgba(12, 188, 135, 0.1);
  color: rgba(12, 188, 135, 1);
  font-size: small;
  font-weight: 400;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.4rem;
}
