.wrapper {
    width: 80rem;

    .showOnly {
        width: auto;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;

        .action {
            display: flex;
            gap: 3rem;
            position: absolute;
            top: 3rem;
            font-size: larger;
            color: #fff;
            right: 3rem;

            i {
                cursor: pointer;
                &:hover{
                    filter: brightness(70%);
                }
            }
        }

        .item {
            width: 60rem;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        overflow-y: auto;
        max-height: 50rem;

        .source {
            flex: 0 0 calc(20% - 0.5rem);
            max-width: calc(20% - 0.5rem);
            height: auto;
            border-radius: 5px;
            border: 0.5px solid black;
        }
    }
}
