.emojiOptions {
    display: flex;
    flex-direction: row;
    position: absolute;
    /* Để đảm bảo các emoji hiện ra ngay bên dưới nút Like */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
  }
  
  .emojiButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Kích thước biểu tượng cảm xúc */
    margin: 0 5px;
    /* Khoảng cách giữa các biểu tượng */
    transition: transform 0.2s;
    /* Hiệu ứng hover */
}

.emojiButton:hover {
    transform: scale(1.2);
    /* Phóng to biểu tượng khi hover */
}

// index
.homeContainer {
    display: flex;
    height: 100vh; // Chiều cao 100% của màn hình
    background-color: #F0F2F5;
    color: black;
  }
  
  .flexGrow {
    display: flex;
    flex-grow: 1;
  }
  
  .sidebar {
    flex: 0 0 20%; // Chiếm 20% chiều rộng
    min-width: 200px; // Chiều rộng tối thiểu
  }
  
  .mainContent {
    flex: 1; // Chiếm phần còn lại
    min-width: 600px; // Chiều rộng tối thiểu
  }
  
  .rightSidebar {
    flex: 0 0 20%; // Chiếm 20% chiều rộng
    min-width: 200px; // Chiều rộng tối thiểu
  }
  
  //Main content
  .content {
    width: 100%; // Chiếm 3/5 chiều rộng
    padding: 1rem;
  }
  
  .postContainer {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .inputField {
    width: 100%;
    padding: 0.5rem;
    background-color: #d4cfcf6f;
    border-radius: 10px;
    height: 5rem;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: #c6c3c36f;
    }
}

.line {
    content: none;
    width: 95%;
    height: 2px;
    background-color: #d4cfcf6f;
    margin: 10px auto;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .photoButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
  
  }
  
  .iconGreen {
    color: #48bb78; // Màu xanh lá
    margin-right: 0.5rem;
  }
  
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Nền mờ
    z-index: 10;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 55rem; // Kích thước tối đa của pop-up
    z-index: 20;
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
}

.popupTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
}

.closeButton {
    color: gray;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    // margin-top: 1rem;
  }
  
  .profileImage {
    width: 2.5rem; // Kích thước ảnh đại diện
    height: 2.5rem;
    border-radius: 50%;
}

.userName {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.userNameText {
    font-weight: bold;
    font-size: calc(1.3rem + .6vw);
    margin-bottom: 1.55rem;
}

.publicButton {
    color: #3b82f6; // Màu xanh dương
    font-size: 1.35rem; // Kích thước chữ
    cursor: pointer;
}

.textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #e2e8f0; // Màu viền
    border-radius: 0.5rem;
}

.dropzone {
    padding: 1rem;
    border: 2px dashed #e2e8f0; // Màu viền đứt
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.popupActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .mobileButton {
    display: flex;
    align-items: center;
    color: #3b82f6; // Màu xanh dương
  }
  
  .iconBlue {
    margin-right: 0.5rem;
  }
  
  .addButton {
    background-color: #3b82f6; // Màu xanh dương
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .extraOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #e2e8f0; // Màu viền trên
    padding-top: 0.5rem;
  }
  
  .iconOptions {
    display: flex;
    gap: 0.5rem;
  }
  
  .iconGreen {
    color: #48bb78; // Màu xanh lá
  }
  
  .iconYellow {
    color: #fbbf24; // Màu vàng
  }
  
  .iconRed {
    color: #ef4444; // Màu đỏ
  }
  
  .iconPurple {
    color: #a855f7; // Màu tím
}

.continueButton {
    width: 100%;
    margin-top: 1rem;
    background-color: #64c1e2; // Màu xám
    color: #fff; // Màu xám đậm
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #2750a6;
    cursor: pointer;
}


.continueButton:hover {
    opacity: 0.9;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .userPostInfo {
    display: flex;
    align-items: center;
  }
  
  .postImage {
    width: 2rem; // Kích thước ảnh đại diện
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .postUserName {
    font-weight: bold;
  }
  
  .followButton {
    color: #3b82f6; // Màu xanh dương
  }
  
  .postTime {
    font-size: 0.875rem; // Kích thước chữ
  }
  
  .postImageFull {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .interactionBar {
    display: flex;
    justify-content: space-between;
    color: gray;
    border-top: 1px solid #e2e8f0; // Màu viền
    padding-top: 0.5rem;
  }
  
  .likeButton {
    position: relative;
  }
  
  .interactionButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .sendButton {
    background-color: #3b82f6; // Màu xanh dương
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

//share

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.popupTitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.profileImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.visibilityButtons {
    display: flex;
    align-items: center;
  }
  
  .visibilityButton {
    background-color: #e7e7e7;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.textarea {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 1rem 0;
    padding: 10px;
    outline: none;
    resize: none;

}

.popupActions {

    display: flex;
    justify-content: flex-end;
  }
  
  .extraOptions {
    margin-top: 15px;
  }
  
  .extraOptionsTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .shareIcons {
    display: flex;
    justify-content: space-between;
  }
  
  .iconButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #1c74e7;
    font-size: 24px;

}

.previewContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.previewItem {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.previewImage, .previewVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 16px 0;
}

