.cardFooter {
  margin-top: 1rem;
  color: #212529; 
  background-color: #fff; 
}

.navBottomLine {
  display: flex;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
  align-items: center;
  border: 0;
  flex-wrap: wrap;
  padding: 0.15rem;
  margin-bottom: 0;
  list-style: none;
}

.navItem {
  list-style: none;
  margin-bottom: -2px;
}

.navLink.active{
  color: #0f6fec; 
  border-bottom: 3px solid #0f6fec;
}

.navLink {
  background: #fff;
  color: #a1a1a8;
  border: transparent;
  font-weight: 600;
  padding: .75rem 8rem;
  display: block;
}

.navLink:hover {
  filter: brightness(75%);
  border-radius: 0.4rem;
}

.badgeSuccess {
  background-color: rgba(12, 188, 135, 0.1);
  color: rgba(12, 188, 135, 1);
  display: inline-block;
  font-size: 0.85em;
  font-weight: 400;
  text-align: center;
  border-radius: 0.4rem;
}
