

// Left bar
.sidebar {
  width: 100%;
  max-width: 20%;
  padding: 0.2rem 1rem;
  position: fixed; /* Cố định sidebar */
  top: 1; /* Đặt ở đầu màn hình */
  left: 0; /* Cố định sidebar sang bên trái */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài hơn chiều cao màn hình */

}

// .relative {

// }

.userInfo {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  position: relative; // Đặt relative cho phần tử cha
  padding-bottom: 2rem;
  z-index: 2;
}


.backgroundImage { // Đã thay đổi từ .background-image
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profileImage {
  position: absolute;
  top: 3rem; // Giữ nguyên vị trí trên
  left: 50%; // Căn giữa theo chiều ngang
  transform: translateX(-50%); // Căn giữa bằng cách dịch chuyển
  border: 4px solid white;
  border-radius: 50%;
}

.userDetails { // Đã thay đổi từ .user-details
  text-align: center;
  margin-top: 6rem;
}

.userStats { // Đã thay đổi từ .user-stats
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.stat { // Đã thay đổi từ .stat
  text-align: center;
}

.statValue { // Đã thay đổi từ .stat-value
  font-weight: bold;
}

.statLabel { // Đã thay đổi từ .stat-label
  font-size: 1rem;
  color: #6b7280;
}

.menuItem { // Đã thay đổi từ .menu-item
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1rem;
}

.menuItem:hover { // Đã thay đổi từ .menu-item:hover
  background-color: #f1f5f9;
}

.icon { // Đã thay đổi từ .icon
  margin-right: 0.5rem;
}

