@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    --background: #f2f2f2;
    --background-second: #edf8ff;
    --left-and-right-item: 36rem;
    --primary-color: #007bff;
    --white-color: #fff;
    --text-color: #757785;
    --border-color: #eff2f6;
    --navbar-height: 4rem; /* 40px */
    --header-height: 12rem; /* 120px */
    --hover-color: #0f6fec;
    --header-with-search-height: calc(
        var(--header-height) - var(--navbar-height)
    ); /* Adjusted */
}


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--background);
}

@media (max-width: 1200px) {
    html {
        font-size: 52.5%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 32.5%;
    }
}

body {
    font-family: "Lora", serif;
    font-size: 1.6rem;
}

a {
    color: black;
    text-decoration: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    z-index: 999; /* Để đảm bảo pop-up nằm trên các thành phần khác */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Để pop-up hiển thị trên overlay */
}

.have-line{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 105%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateX(-50%);
    }
}

button {
    cursor: pointer;
}
