// index
.homeContainer {
  display: flex;
  height: 100vh; // Chiều cao 100% của màn hình
  background-color: #F0F2F5;
  color: black;
}

.flexGrow {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 0 0 20%;
}

.mainContent {
  flex: 1; // Chiếm phần còn lại
}

.rightSidebar {
  width: 32rem;; // Chiều rộng tối thiểu
}
