.choice{
	width: 12rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	font-size: 2rem;
	&:hover{
		background-color: var(--background);
	}
}

.active{
	color:#41788d;
	border-bottom: 0.3rem solid #41788d;
}


.content{
	display: flex;
	gap: 0.8rem;
}
