.wrapper {
    display: flex;
    height: 94vh;
}

.left {
    padding: 0.5rem;
    width: var(--left-and-right-item);
    border-right: 0.5px solid #333;
}

.center {
    flex:1;
    border-right: 0.5px solid #333;
}

.right {
    width: 35rem;
}

.validate {
    height: 100%;
    width: 100%;
    text-align: center;
}
