.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    h1 {
        height: 3rem;
    }

    .search {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        .circle {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            background: none;
            border: none;

            align-items: center;
            justify-content: center;
            &:hover {
                background-color: white;
                border: 0.5px solid #333;
            }
        }

        input {
            flex: 1;
            border-radius: 10px;
            border: 0.5px solid #333;
            height: 4rem;
        }
    }

    .choice {
        display: flex;
        gap: 1rem;
        button {
            background: none;
            border: none;
            padding: 1rem;
            border-radius: 10px;

            &:hover {
                background-color: white;
            }
        }
        .active {
            background-color: white;
        }
    }

    .content {
        flex: 1;
        // border:1px solid#333;
        position: relative;
        max-height: 100%;
        overflow-y: auto;

        &::before {
            content: "";
            width: 90%; 
            height: 0.6px; 
            background-color: #333; 
            position: absolute;
            top: 0; 
            left: 50%; 
            transform: translateX(-50%); 
        }
		.item {
			&:hover{
				background-color: #333;
			}
		}
    }
}
