.wrapper{
	position: absolute;
	width: 40rem;
	height: 8rem;
	top: 2rem;
	right: -500px;
	border-left : 6px solid aqua;
	border-radius: 12px;
	z-index: 100;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	display: flex;
	transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
	gap: 5px;
	overflow: hidden;
	.type {
		content: none;
		width: 7rem;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
	}
	.content{
		padding-top: 15px;
		h3,p{
			margin: 0;
		}
		p{
			margin-top: 8px;
		}
	}
}

.moveOut{
	transform: translateX(calc(100% + 3rem));
	opacity: 0;
}

.moveIn{
	right: 2rem;
}
